
/* adds animations to OUTDOORS, it starts from left to right` */
@keyframes moveInLeft {
    0% {
      opacity: 0;
      transform: translateX(-6.2rem);
    }
  
    80% {
      transform: translateX(1.4rem);
    }
  
    100% {
      opacity: 1;
      transform: translate(0);
    }
  }
  
  @keyframes moveInRight {
    0% {
      opacity: 0;
      transform: translateX(6.2rem);
    }
  
    80% {
      transform: translateX(-1.4rem);
    }
  
    100% {
      opacity: 1;
      transform: translate(0);
    }
  }
  
  @keyframes moveInBottom {
    0% {
      opacity: 0;
      transform: translateY(1.5rem);
    }
  
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }
  