body {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  line-height: 1.7;
  color: $color-grey-dark;
}

.heading-primary {
  color: #fff;
  text-transform: uppercase;
  margin: 3.7rem;
  backface-visibility: hidden;
  /* after animations elements doesnt move to top*/

  &--main {
    display: block;
    font-size: 3.7rem;
    font-weight: 400;
    letter-spacing: 2.2rem;
    animation-name: moveInLeft;
    animation-duration: 1.3s;
    animation-timing-function: ease-out;

    @include respond(phone) {
      letter-spacing: .8rem;
      font-size: 3.2rem;
    }
  }

  &--sub {
    display: block;
    font-size: 1.4rem;
    font-weight: 400;
    letter-spacing: 0.9rem;
    animation: moveInRight 1.3s ease-out;

    
    @include respond(phone){
      letter-spacing: .2rem;
    }
    
  }
}

.heading-secondary {
  font-size: 2.5rem;
  text-transform: uppercase;
  font-weight: 700;
  background-image: linear-gradient(
    to right,
    $color-primary-light,
    $color-primary-dark
  );
  display: inline-block;
  -webkit-background-clip: text;
  color: transparent;
  letter-spacing: 0.1rem;
  transition: all 0.2s;

  @include respond(tab-port) {
    font-size: 2.5rem;
  }

  @include respond(phone) {
    font-size: 2rem;
  }


  &:hover {
    transform: skewY(2deg) skewX(15deg) scale(1.1);
    text-shadow: 0.3rem 0.8rem 1rem rgba($color-black, 0.2);
  }
}

.heading-tertiary {
  font-size: $default-font-size;
  font-weight: 700;
  text-transform: uppercase;
}

.paragraph {
  font-size: $default-font-size;

  &:not(:last-child) {
    margin-bottom: 1.8rem;
  }
}
