.u-center-text {
    text-align: center !important;
}

.u-margin-bottom-big {
    margin-bottom: 5rem !important;

    @include respond(tab-port){
        margin-bottom: 3rem !important;
    }
}

.u-margin-bottom-medium {
    margin-bottom: 2.5rem !important;
    
    @include respond(tab-port){
        margin-bottom: 1.2rem !important; 
    }
}

.u-margin-bottom-small {
    margin-bottom: .6rem !important;
}

.u-margin-top-big {
    margin-top: 5rem !important;
}