.navigation {
  &__checkbox {
    display: none;
  }

  &__button {
    background-color: $color-white;
    height: 5.2rem;
    width: 5.2rem;
    position: fixed;
    top: 4.2rem;
    right: 4.2rem;
    border-radius: 50%;
    z-index: 2000;
    box-shadow: 0 0.8rem 2.2rem rgba($color-black, 0.1);
    text-align: center;
    cursor: pointer;

    @include respond(tab-port) {
      top: 1.2rem;
      right: 1.2rem;
    }

    @include respond(phone) {
      top: .8rem;
      right: .8rem;
    }
  }

  &__background {
    height: 4.2rem;
    width: 4.2rem;
    border-radius: 50%;
    position: fixed;
    top: 4.6rem;
    right: 4.6rem;
    background-image: radial-gradient(
      $color-primary-light,
      $color-primary-dark
    );
    z-index: 1000;
    transition: transform 0.8s;

    @include respond(tab-port) {
      top: 1.5rem;
      right: 1.5rem;
    }

    @include respond(phone) {
      top: 1.2rem;
      right: 1.2rem;
    }
  }

  &__nav {
    height: 100vh;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 1500;
    opacity: 0;
    width: 0;
    transition: all 0.8s;
  }

  &__list {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    list-style: none;
    text-align: center;
  }

  &__item {
    margin: 0.8rem;
  }

  &__link {
    &:link,
    &:visited {
      display: inline-block;
      font-size: 2.2rem;
      font-weight: 300;
      padding: 0.8rem 1.2rem;
      color: $color-white;
      text-decoration: none;
      text-transform: uppercase;
      background-image: linear-gradient(
        120deg,
        transparent 0%,
        transparent 50%,
        $color-white 50%
      );
      background-size: 230%;
      transition: all 0.4s;
    }

    &:hover,
    &:active {
      background-position: 100%;
      color: $color-primary;

      transform: translateX(0.8rem);
    }
  }

  //FUNCTIONALITY
  &__checkbox:checked ~ &__background {
    transform: scale(80);
  }

  &__checkbox:checked ~ &__nav {
    opacity: 1;
    width: 100%;
  }

  //ICON
  &__icon {
    position: relative;
    margin-top: 2.5rem;
    &,
    &::before,
    &::after {
      width: 2.5rem;
      height: 2px;
      background-color: $color-grey-dark-3;
      display: inline-block;
    }

    &::before,
    &::after {
      content: "";
      position: absolute;
      left: 0;
      transition: all 0.2s;
    }

    &::before {
      top: -0.7rem;
    }
    &::after {
      top: 0.7rem;
    }
  }

  &__button:hover &__icon::before {
    top: -0.9rem;
  }

  &__button:hover &__icon::after {
    top: 0.9rem;
  }

  &__checkbox:checked + &__button &__icon {
    background-color: transparent;
  }

  &__checkbox:checked + &__button &__icon::before {
    top: 0;
    transform: rotate(45deg);
  }

  &__checkbox:checked + &__button &__icon::after {
    top: 0;
    transform: rotate(-45deg);
  }
}
