.popup {
  height: 100vh;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba($color-black, 0.8);
  z-index: 9999;

  opacity: 0;
  visibility: hidden;
  transition: all 0.3s;
  //me shfaq popupin:
  &:target {
    opacity: 1;
    visibility: visible;
  }

  &__close {
    &:link,
    &:visited {
      color: $color-grey-dark;
      position: absolute;
      top: 1.8rem;
      right: 1.8rem;
      font-size: 2.2rem;
      text-decoration: none;
      display: inline-block;
      transition: all .2s;
      line-height: 1;
    }

    &:hover {
        color: $color-primary;
    }
  }

  &__content {
    @include absCenter;
    width: 65%;
    // height: 40rem;
    background-color: $color-white;
    box-shadow: 0 1.2rem 2.8rem rgba($color-black, 0.3);
    border-radius: 3px;

    //kontenti funksionon si tabel:
    display: table;

    //imgs mos me prish border radius:
    overflow: hidden;
  }

  &__left {
    width: 33.33333%;
    display: table-cell;
  }

  &__right {
    width: 66.66666%;
    display: table-cell;
    vertical-align: middle;
    padding: 2.2rem 4.2rem;
  }

  &__img {
    display: block;
    width: 100%;
  }

  &__text {
    font-size: 1.2rem;
    margin-bottom: 3.2rem;

    //me nda paragrafin ndy pjes:
    column-count: 2;
    column-gap: 3.2rem;
    column-rule: 1px solid $color-grey-light-2;

    -moz-hyphens: auto;
    -ms-hyphens: auto;
    -webkit-hyphens: auto;
    hyphens: auto;
  }
}
