.composition {
  position: relative;

  &__photo {
    width: 55%;
    box-shadow: 0 1.5rem 3.5rem rgba($color-black, 0.4);
    border-radius: 2px;
    position: absolute;
    z-index: 10;
    transition: all 0.2s;
    outline-offset: 0.8rem;

    @include respond(tab-port) {
      float: left;
      position: relative;
      width: 33.3333333%;
      box-shadow: 0 1.5rem 1.2rem rgba($color-black, 0.2);
    }

    &--p1 {
      left: 0;
      top: -1.2rem;

      @include respond(tab-port) {
        top: 0;
        transform: scale(1.3);
      }
    }

    &--p2 {
      right: -0.8rem;
      top: 1.2rem;

      @include respond(tab-port) {
        top: 0;
        transform: scale(1.5);
        z-index: 100;
      }
    }

    &--p3 {
      left: 20%;
      top: 6.2rem;

      @include respond(tab-port) {
        top: .8rem;
        left: 0;
        transform: scale(1.2);
      }
    }

    &:hover {
      outline: 0.5rem solid $color-primary;
      transform: scale(1.1) translateY(-0.5rem);
      box-shadow: 0 2.5rem 4rem rgba($color-black, 0.4);
      z-index: 20;
    }
  }

  &:hover &__photo:not(:hover) {
    transform: scale(0.9);
  }
}
