.form {
  &__group:not(:last-child) {
    margin-bottom: 1.2rem;
  }

  &__input {
    font-family: inherit;
    font-size: 1.2rem;
    color: inherit;
    padding: 1.2rem 1.5rem;
    border-radius: 2px;
    background-color: rgba($color-white, 0.5);
    border: none;
    width: 90%;
    display: block;
    //per mos me livrit ma posht pershkak tborder bottom 3px te focus
    border-bottom: 3px solid transparent;
    transition: all 0.3s;

    &:focus {
      outline: none;
      //for non-mouse users to make visible which form is active:
      box-shadow: 0 0.8rem 1.2rem rgba($color-black, 0.1);
      border-bottom: 3px solid $color-primary;

      &:invalid {
        border-bottom: 3px solid $color-secondary-dark;
      }
    }

    //ndyrshon ngjyren e placeholder
    &::-webkit-input-placeholder {
      color: $color-grey-dark-2;
    }
  }

  &__label {
    font-size: 1rem;
    font-weight: 700;
    margin-left: 1.5rem;
    margin-top: 0.4rem;
    display: block;
    transition: all 0.3s;
  }

  &__input:placeholder-shown + &__label {
    opacity: 0;
    visibility: hidden;
    transform: translateY(-3rem);
  }

  &__radio-group {
    width: 49%;
    display: inline-block;
  }
  
  &__radio-input{
    display: none;
  }

  
  &__radio-label {
    font-size: $default-font-size;
    cursor: pointer;
    position: relative;
    padding-left: 3rem;
  }

  &__radio-button {
    height: 2.2rem;
    width: 2.2rem;
    border: 5px solid $color-primary;
    border-radius: 50%;
    display: inline-block;
    position: absolute;
    left: 0;
    top: -0.5rem;

    &::after {
      content: "";
      display: block;
      height: 1rem;
      width: 1rem;
      border-radius: 50%;
      position: absolute;
      top: 18%;
      left: 50%;
      transform: translate(-50%);
      background-color: $color-primary;
      opacity: 0;
      transition: opacity .1,2s;
    }
  }

  &__radio-input:checked ~ &__radio-label &__radio-button::after {
    opacity: 1;
  }
}
